<section>

    <h2>Engineering Comparison</h2>

    <div class="compare-container">

        <img
            class="compare-before"
            src="media/engineering/leapfrog/images/08_leapfrog_drillhole_import.jpg">

        <div class="compare-overlay">

            <img
                class="compare-after"
                src="media/engineering/leapfrog/images/10_final_model.jpg">

        </div>

        <input
            id="compare-slider"
            type="range"
            min="0"
            max="100"
            value="50">

    </div>

</section>