@import "variables.css";
@import "layout.css";
@import "navigation.css";
@import "hero.css";
@import "cards.css";
@import "timeline.css";
@import "buttons.css";
@import "footer.css";
@import "responsive.css";

.project-tags{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    margin:20px 0;
}

.tag{
    background:#E8EEF7;
    color:#003366;
    padding:6px 12px;
    border-radius:999px;
    font-size:13px;
    font-weight:600;
}

.project-links{
    display:flex;
    gap:15px;
    margin-top:20px;
    flex-wrap:wrap;
}