body{

    font-family:Arial,sans-serif;

    background:white;

    color:#222;

    margin:40px;

    line-height:1.6;

}

.resume{

    max-width:850px;

    margin:auto;

}

h1{

    color:#003366;

    margin-bottom:5px;

}

h2{

    color:#555;

    margin-top:0;

    margin-bottom:30px;

}

h3{

    margin-top:28px;

    color:#003366;

}

hr{

    margin:24px 0;

}

table{

    width:100%;

    border-collapse:collapse;

}

th,
td{

    border:1px solid #ddd;

    padding:8px;

}

ul{

    margin-left:20px;

}